*, *::before, *::after {
		box-sizing: border-box;
}

body {
		margin: 0;
		width: 100vw;
		height: 100vh;
		display: flex;
		flex-direction: row;
		align-items: center;
		flex-wrap: wrap;
}

main {
	 display: grid;
	 place-items: center;
  width: 100%;
		padding: 1em 0;
}

section {
		width: 90%;
		padding: 0 1em;		
		border-radius: 10px;
		box-shadow:	1px 0px 5px rgba(0,0,0,0.3);
}

.question-container {
		box-shadow: 1px 0px 5px #fff,
												0px -1px 5px rgba(0,0,0,0.3);
		font-size: 3vw;	
		margin: 20px auto;
}

.question-title {
		display: flex;
		align-items: center;
		justify-content: space-between;
  	padding: 0 1em;
		text-transform: capitalize;
		letter-spacing: 1px;
}

.question-title,
.answer {
	 font-size: 1.2em;
}

hr {
		width: 90%;
		border: none;
		border-top: 1px solid gray;
		display: none;
}

button {
		border: 1px solid gold;
		background: none;
		color: gold;
	 font-size: 1.3em;
		transition: transform 500ms ease-in-out;		
		user-select: none;
		-webkit-user-select: none;
}

button:hover,
button:focus {
		transform: rotate(180deg);
}

.answer {
	 	padding: 0.2em 1.5em;
	 	text-align: justify;
	 	display: none;
}

.minus {
		display: none;
}

/*Show and hide text*/
.show-text hr {
		display: block;
}

.show-text .answer {
	 display: block;
}

.show-text .minus {
  display: inline;
}

.show-text .plus {
  display: none;
}

@media screen and (min-width: 1024px){
.question-container {
		font-size: 1.5vh;
}

section {
		max-width: 500px;
}

.answer {
		max-width: 500px;
}

}
