*, *::before, *::after {
		box-sizing: border-box;
}

body {
		margin: 0;
		width: 100vw;
		height: 100vh;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		padding: 0 10px;
}

section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 20px 0;
		width: 100%;
		height: auto;
		padding: 2em;
		border-radius: 10px;
		box-shadow:	1px 0px 5px rgba(0,0,0,0.3);
}

.question-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		box-shadow: 1px 0px 5px #fff,
												0px -1px 5px rgba(0,0,0,0.3);
		font-size: 3vw;	
		border-radius: 10px;
}

.question-title {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 25em;
}

.question-title,
.answer {
		padding: 0 1.5em;
	 font-size: 1.2em;
}

hr {
		width: 90%;
		border: none;
		border-top: 1px solid gray;
		display: none;
}

button {
		border: 1px solid gold;
		background: none;
		color: gold;
	 font-size: 1.3em;
		min-width: 7%;		
		transition: transform 500ms ease-in-out;		
		user-select: none;
		-webkit-user-select: none;
}

button:hover,
button:focus {
		transform: rotate(180deg);
}

.answer {
	 	display: none;
		border-bottom-left-radius: 1em;
		border-bottom-right-radius: 1em;
		min-width: 80%;
		max-width: 500px;
}

.minus {
		display: none;
}

/*Show and hide text*/
.show-text hr {
		display: block;
}

.show-text .answer {
  display: block;
}

.show-text .minus {
  display: inline;
}

.show-text .plus {
  display: none;
}

@media screen and (min-width: 1024px){
.question-container {
		font-size: 1.5vh;
}

section {
		max-width: 500px;
}

}
